@import "../styles/respond";

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: calc(100vh - 40px);
  margin: 20px;
  overflow: hidden;
  z-index: 100;
  cursor: default;
}
